<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <form action="/" method="post">
        <table>
            <tr>
                <td>Enter Your Name:</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Enter Your Surname:</td>
                <td><input type="text" name="surname"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>

</html>